.github
.vscode
src
Bridging_hearts.png
Logo.png


New Bitmap image.bmp



cpp.html


cpp.png


event_rural.png


event_summit.png


faculty_ahmed.png


faculty_sarah.png


faculty_viki.png


hero_bg.png


icon.ico


icon.png


next.config.js


package.json


peaceaxis_image1.jpg


peaceaxis_image10.jpg


peaceaxis_image11.jpg


peaceaxis_image12.jpg


peaceaxis_image13.jpg


peaceaxis_image14.jpg


peaceaxis_image15.jpg


peaceaxis_image2.jpg


peaceaxis_image3.jpg


peaceaxis_image4.jpg


peaceaxis_image5.jpg


peaceaxis_image6.jpg


peaceaxis_image7.jpg


peaceaxis_image9.jpg


peaceaxixlogo.png


pigeon_logo.png


postcss.config.js


style.css


surya_hero_schedule.csv


tailwind.config.ts
test.py
tsconfig.json


